@keyframes shake {
 0% {
  transform: translateX(0);
 }

 25% {
  transform: translateX(-5px) rotate(-5deg);
 }

 50% {
  transform: translateX(5px) rotate(5deg);
 }

 75% {
  transform: translateX(-5px) rotate(-5deg);
 }

 100% {
  transform: translateX(0);
 }
}

.wave {
 display: inline-block;
 animation: shake 0.5s infinite;
}


@keyframes rotateHorizontal {
 0% {
  transform: rotateY(0deg);
 }

 100% {
  transform: rotateY(360deg);
 }
}

.rotate-horizontal-animation {
 animation: rotateHorizontal 5s linear infinite;
 /* Adjust the duration and timing function as needed */
 transition: transform 0.3s ease;
 /* Adjust the transition duration and timing function */
}


@keyframes slideInFromRight {
 0% {
  transform: translateX(100%);
 }

 100% {
  transform: translateX(0);
 }
}

.slide-in-from-right {
 animation: slideInFromRight .5s ease;
}


.separator {
 position: relative;
 display: flex;
 align-items: center;
}

.separator::before {
 content: '';
 position: relative;
 height: 300px;
 width: 1px;
 /* Adjust the thickness of the line */
 background-color: rgb(75, 85, 99);
 /* Adjust the color of the line */
 left: 50%;
 transform: translateX(-50%);
}

.separator-nav {
 position: relative;
 display: flex;
 align-items: center;
}

.separator-nav::before {
 content: '';
 position: relative;
 height: 50px;
 width: 1px;
 /* Adjust the thickness of the line */
 background-color: rgb(75, 85, 99);
 /* Adjust the color of the line */
 left: 50%;
 transform: translateX(-50%);
}

.three-d-container:hover {
 transform: perspective(1000px) rotateX(10deg);
}